// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "trix";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: -apple-system, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

div {
  padding-bottom: 5px;
}

/* Questions create */
.add_question {
    color: #686969;
    font-size: 14px;
    padding: 10px;
}

.add_question textarea {
  width: 660px;
  height: 60px;
  margin: 5px 0px 0px;
}

.add_question trix-editor {
  min-height: 200px;
  width: 660px
}

.question-content {
    min-height: 450px;
    margin: 0 auto;
    width: 700px;
    padding: 15px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.class-form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.class-form-signin-heading, .class-form-signin .checkbox
{
    margin-bottom: 10px;
}
 .checkbox
{
    font-weight: normal;
}
 .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom:5px;
}
.form-control:focus
{
    z-index: 2;
}
 input[type="email"]
{

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
input[type="password"]
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control:nth-child(4)
{
    margin-bottom: 20px;

}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.links {
    padding-left: 10px;
}

.new-account
{
    display: block;
    margin-top: 10px;
}
.link_show {
  position: absolute;
  left: -1000px;
}

.question-content .question {
  width: 660px;
  margin-bottom: 5px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 1.3;
  padding-left: 50px;
}

.content {
    min-height: 450px;
    margin: 0 auto;
    width: 1000px;
    padding: 15px;
}

.question-header {
    font-size: 24px;
    line-height: 1.35;
    font-weight: normal;
    margin-bottom: .5em;
}
